.container
  .col-md-12
    .row
      %h3
        = t("settings.title")
    .col-md-5.margin_top_20
      .row
        .solid_line
          %h4
            = t("addresses.billing_address")
      .row
        .row
          .col-md-5.margin_top_20
            = form_for current_user.billing_address, url: user_settings_update_billing_address_path(current_user) do |f|
              %p= f.text_field :first_name, placeholder: t("addresses.first_name")
              %p= f.text_field :last_name, placeholder: t("addresses.last_name")
              %p= f.text_field :street_address, placeholder: t("addresses.street_address")
              %p= f.text_field :city, placeholder: t("addresses.city")
              %p= f.collection_select :country_id, Country.all, :id, :name
              %p= f.text_field :zip, placeholder: t("addresses.zip")
              %p= f.telephone_field :phone, placeholder: t("addresses.phone")
              %p= f.submit t("settings.save"), class: "btn btn-default"
    .col-md-2
    .col-md-5.margin_top_20
      .row
        .solid_line
          %h4
            = t("addresses.shipping_address")
      .row
        .row
          .col-md-5.margin_top_20
            = form_for current_user.shipping_address, url: user_settings_update_shipping_address_path(current_user) do |f| 
              %p= f.text_field :first_name, placeholder: t("addresses.first_name")
              %p= f.text_field :last_name, placeholder: t("addresses.last_name")
              %p= f.text_field :street_address, placeholder: t("addresses.street_address")
              %p= f.text_field :city, placeholder: t("addresses.city")
              %p= f.collection_select :country_id, Country.all, :id, :name
              %p= f.text_field :zip, placeholder: t("addresses.zip")
              %p= f.telephone_field :phone, placeholder: t("addresses.phone")
              %p= f.submit t("settings.save"), class: "btn btn-default"
  .col-md-12
    .col-md-5
      .row
        .solid_line
          %h4
            = t("settings.email")
      .row
        .row
          .col-md-5.margin_top_20.edit_email
            = form_for current_user, url: user_update_email_path(current_user) do |f| 
              %p= f.text_field :email
              %p= f.submit t("settings.save"), class: "btn btn-default"
    .col-md-2
    .col-md-5
      .row
        .solid_line
          %h4
            = t("settings.pass")
      .row
        .row
          .col-md-5.margin_top_20.edit_pass
            = form_for current_user, url: user_update_password_path(current_user) do |f| 
              Old password
              %p= f.password_field :current_password, placeholder: "type old password"
              New password
              %p= f.password_field :password, placeholder: "type new password"
              %p= f.submit t("settings.save"), class: "btn btn-default"
  .col-md-12
    .row
      .solid_line
        %h4
          = t("settings.remove")
  .row
    .col-md-12.height.margin_top_20.destroy
      = form_for current_user, url: user_destroy_user_path(current_user) do |f| 
        = f.submit t("settings.destroy_submit"), class: "btn btn-default"
        = f.check_box :check_del
        = t("settings.checkbox")


