.container
  .col-md-12
    .row
      %h3
        .col-md-12
          Settings
    .col-md-5.margin_top_20
      .row
        .solid_line
          %h4
            BILLING ADDRESS
      .row
        .row
          .col-md-5.margin_top_20
            = form_for current_user.billing_address, url: user_settings_update_billing_address_path(current_user) do |f| 
              %p= f.text_field :first_name, placeholder: "First name"
              %p= f.text_field :last_name, placeholder: "Last name"
              %p= f.text_field :street_address, placeholder: "Street Address"
              %p= f.text_field :city, placeholder: "City"
              %p= f.collection_select :country_id, Country.all, :id, :name, placeholder: "Country"
              %p= f.text_field :zip, placeholder: "Zip"
              %p= f.telephone_field :phone, placeholder: "Phone"
              %p= f.submit 'SAVE', class: "btn btn-default"
    .col-md-2
    .col-md-5.margin_top_20
      .row
        .solid_line
          %h4
            SHIPPING ADDRESS
      .row
        .row
          .col-md-5.margin_top_20
            = form_for current_user.shipping_address, url: user_settings_update_shipping_address_path(current_user) do |f| 
              %p= f.text_field :first_name, placeholder: "First name"
              %p= f.text_field :last_name, placeholder: "Last name"
              %p= f.text_field :street_address, placeholder: "Street Address"
              %p= f.text_field :city, placeholder: "City"
              %p= f.collection_select :country_id, Country.all, :id, :name, placeholder: "Country" 
              %p= f.text_field :zip, placeholder: "Zip"
              %p= f.telephone_field :phone, placeholder: "Phone"
              %p= f.submit 'SAVE', class: "btn btn-default"
  .col-md-12
    .col-md-5
      .row
        .solid_line
          %h4
            EMAIL
      .row
        .row
          .col-md-5.margin_top_20
            = form_for current_user, url: user_update_email_path(current_user) do |f| 
              %p= f.text_field :email
              %p= f.submit 'SAVE', class: "btn btn-default"
    .col-md-2
    .col-md-5
      .row
        .solid_line
          %h4
            PASSWORD
      .row
        .row
          .col-md-5.margin_top_20
            = form_for current_user, url: user_update_password_path(current_user) do |f| 
              Old password
              %p= f.password_field :password, :autocomplete => "off", placeholder: "type old password"
              New password
              %p= f.password_field :password_confirmation, placeholder: "type new password"
              %p= f.submit 'SAVE', class: "btn btn-default"
  .col-md-12
    .row
      .solid_line
        %h4
          PASSWORD
  .row
    .col-md-12.height.margin_top_20
      = link_to 'PLEASE REMOVE MY ACCOUNT', '', class: "btn btn-default"
      = check_box_tag ""
      I understand that all data will be lost


