.container
  .row
    .col-md-3
      %h3
        = t("addresses.checkout")
    .col-md-9
      %h4
        = t("addresses.add")
        %u= t("addresses.delivered")
        = t("addresses.payment")
        = t("addresses.confirm")
        = t("addresses.complete")
  .row
    .col-md-8.margin_top
      = form_for @order, url: order_path, method: :patch do |f|
        - Delivery.all.each do |delivery|
          = f.radio_button :delivery_id, delivery.id
          #{delivery.name} + #{number_to_currency(delivery.price)}
          %br
        %p= f.submit t("addresses.submit"), class: "btn btn-default"
    .col-md-4.margin_top
      %table.table
        %tr
          %td.col-dm-1
            .float_r= t("addresses.item_total")
            %br
            .float_r= t("addresses.order_total")
          %td.col-dm-1
            #{number_to_currency(@order.total)}
            %br
            #{number_to_currency(@order.subtotal(@order.discount))}
        %tr
          %td.col-dm-1
          %td.col-dm-1
