.container
  .row
    .col-md-3
      %h3
        DELIVERY
    .col-md-9
      %h4
        ADDRESS   
        %u
          DELIVERY
        PAYMENT
        CONFIRM
        COMPLETE
  .row
    %h4
      .col-md-12
        DELIVERY
  .row
    .col-md-8.margin_top
      = form_for @order, url: order_path, method: :patch do |f|
        - Delivery.all.each do |delivery|
          = f.radio_button :delivery_id, delivery.id
          #{delivery.name} + #{number_to_currency(delivery.price)}
          %br
        %p= f.submit 'SAVE AND CONTINUE', class: "btn btn-default"
    .col-md-4.margin_top
      %p ITEM TOTAL: #{number_to_currency(@cart.total)}
      %p ORDER TOTAL: #{number_to_currency(@cart.subtotal(@cart.discount))}
