.container
  .row
    .col-md-3
      %h3
        Checkout
    .col-md-9
      %h4
        ADDRESS   
        %u
          DELIVERY
        PAYMENT
        CONFIRM
        COMPLETE
  .row
    %h4
      .col-md-8
        EDIT DELIVERY
  .row
    .col-md-8.margin_top
      = form_for :order, url: delivery_path, method: :put do |f|
        - @deliveries.each do |delivery|
          = f.radio_button :delivery_id, delivery.id
          #{delivery.name} + #{number_to_currency(delivery.price)}
          %br
        %p= f.submit 'SAVE AND CONTINUE', class: "btn btn-default"
    .col-md-4.margin_top

