.container
  .row
    .col-md-12.table.table-striped
      %table.table.table-striped
        %tr
          %th.col-md-2
          %th.col-md-7
            = t("cart.book")
          %th.col-md-1
            = t("cart.price")
          %th.col-md-1
            = t("cart.quantity")
          %th.col-md-1
            = t("cart.total")
        - @order.line_items.each do |item|      
          %tr
            %td.col-md-2
              = image_tag(item.book.image, size: "150x100")
            %td.col-md-7
              %h4
                = item.book.title
              = item.book.full_description.first(300) + '...'
            %td.col-md-1
              #{number_to_currency(item.book.price)}
            %td.col-md-1
              
              = form_for item, url: line_item_path(item), method: :patch do |f|
                .cart_quantity= f.number_field :quantity, in: 1...20
                = f.submit "", class: "hide_quantity"
            %td.col-md-1
              .in_line #{number_to_currency(item.total_price)}
              .in_line= button_to t("cart.del"), line_item_path(item.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs"
      %table.table
        %tr
          %td.col-md-9
          %td.col-md-2
            %p.float_r
              = t("cart.subtotal")
          %td.col-md-1
            #{number_to_currency(@order.subtotal(@order.discount))}
      %table.table
        %tr
          %td.col-md-4
            .in_line= button_to t("cart.empty"), empty_cart_orders_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"
            .in_line= button_to t("cart.continue"), categories_path, method: :get, class: "btn btn-default"
          %td.col-md-4
          %td.col-md-4
            .in_line
              = form_tag check_coupon_orders_path, method: :get do |f|
                = text_field_tag :search, params[:search], placeholder: t("cart.coupon"), class: 'cart_coupon'
                .in_line= submit_tag t("cart.update"), :name => nil, class: "btn btn-default"
            - if @order.line_items.any? 
              - if user_signed_in?
                .in_line= button_to t("cart.checkout"), edit_billing_address_path(current_user), method: :get, class: "btn btn-default"
              - else
                .in_line= button_to t("cart.checkout"), new_user_registration_path, method: :get, class: "btn btn-default"

              
