.container
  .row
    %h4
      .col-md-12
        ORDER R000#{@order.id} 
  .row
    .col-md-3.margin_top
      %b
        Shipping Address
      %br
      = current_user.shipping_address.first_name 
      = current_user.shipping_address.last_name
      %br
      = current_user.shipping_address.street_address
      %br
      = current_user.shipping_address.city
      = current_user.shipping_address.zip
      %br
      = current_user.shipping_address.country.name
      %br
      Phone + #{current_user.shipping_address.phone}
    .col-md-3.margin_top
      %b
        Billing Address
      %br
      = current_user.billing_address.first_name
      = current_user.billing_address.last_name
      %br
      = current_user.billing_address.street_address
      %br
      = current_user.billing_address.city
      = current_user.billing_address.zip
      %br
      = current_user.billing_address.country.name
      %br
      Phone +#{current_user.billing_address.phone}
    .col-md-3.margin_top
      %b
        Shipments
      %br
      = @order.delivery.name
    .col-md-3.margin_top
      %b
        Payment Information
      %br
      **** **** **** #{@numb}
      %br
      = @order.payment.expiration_date.strftime("%m/%Y")
      %br
.row
  .col-md-12.margin_confirm
    .col-md-5
    .col-md-4
      BOOK
    .col-md-1
      PRICE
    .col-md-1
      QTY
    .col-md-1
      TOTAL
  .row
    .col-md-12.margin_top_10
      - @order.line_items.each do |order| 
        .col-md-12.margin_bot_10
          .col-md-2
            = image_tag(order.book.image, size: "150x100")
          .col-md-7
            %h4
              = order.book.title
            = order.book.full_description.first(200) + '...'
          .col-md-1
            #{number_to_currency(order.book.price)}
          .col-md-1
            = order.quantity
          .col-md-1
            #{number_to_currency(order.total_price)}          
    .col-md-12
      .dashed_line.margin_top_20
      .col-md-12.margin_top_5
        .col-md-8
        .col-md-2
          .float_right
            SUBTOTAL:
        .col-md-1
          .float_left
            #{number_to_currency(@order.subtotal(@order.discount))}
      .col-md-12
        .col-md-8
        .col-md-2
          .float_right
            SHIPPING:
        .col-md-1
          .float_left
            #{number_to_currency(@order.delivery.price)}
        .col-md-1
    .col-md-12
      .dashed_line.margin_top_20
      .col-md-12.margin_top_5
        .col-md-8
        .col-md-2
          .float_right
            ORDER TOTAL:
        .col-md-1
          .float_left
            #{number_to_currency(@order.subtotal(@order.discount)+@order.delivery.price)}
  .col-md-12.margin_top_20
    .col-md-9
      = link_to 'GO BACK TO STORE', categories_path, class: "btn btn-default"
