.container
  .row
    %h4
      .col-md-12
        = t("complete.order") 
        R000#{@order.id} 
  .row
    .col-md-3.margin_top
      %b
        = t("confirm.shipping_address")
      %br
      = current_user.shipping_address.first_name
      = current_user.shipping_address.last_name
      %br
      = current_user.shipping_address.street_address
      %br
      = current_user.shipping_address.city
      = current_user.shipping_address.zip
      %br
      = current_user.shipping_address.country.name
      %br
      Phone + #{current_user.shipping_address.phone}
    .col-md-3.margin_top
      %b
        = t("confirm.billing_address")
      %br
      = current_user.billing_address.first_name
      = current_user.billing_address.last_name
      %br
      = current_user.billing_address.street_address
      %br
      = current_user.billing_address.city
      = current_user.billing_address.zip
      %br
      = current_user.billing_address.country.name
      %br
      Phone +#{current_user.billing_address.phone}
    .col-md-3.margin_top
      %b
        = t("confirm.shipments")
      %br
      = @order.delivery.name
    .col-md-3.margin_top
      %b
        = t("confirm.payment_info")
      %br
      **** **** **** #{@order.payment.number.to_s.slice(-6..-3)}
      %br
      = @order.payment.expiration_date.strftime("%m/%Y")
      %br
.row
  .col-md-12.table.table-striped
    %table.table.table-striped
      %tr
        %th.col-md-2
        %th.col-md-7
          = t("cart.book")
        %th.col-md-1
          = t("cart.price")
        %th.col-md-1
          = t("cart.quantity")
        %th.col-md-1
          = t("cart.total")
      - @order.line_items.each do |item|      
        %tr
          %td.col-md-2
            = image_tag(item.book.image, size: "150x100")
          %td.col-md-7
            %h4
              = item.book.title
            = item.book.full_description.first(200) + '...'
          %td.col-md-1
            #{number_to_currency(item.book.price)}
          %td.col-md-1
            .cart_quantity= number_field_tag 'quantity', item.quantity, in: 1...20
          %td.col-md-1
            .in_line #{number_to_currency(item.total_price)}
    %table.table
      %tr
        %td.col-md-9
        %td.col-md-2
          .float_r= t("cart.subtotal")
          %br
          .float_r= t("confirm.shipping")
        %td.col-md-1
          #{number_to_currency(@order.subtotal(@order.discount))}
          %br
          #{number_to_currency(@order.delivery.price)}
      %tr
        %td.col-md-9
        %td.col-md-2
          %p.float_r
            = t("confirm.order_total")
        %td.col-md-1
          #{number_to_currency(@order.subtotal(@order.discount)+@order.delivery.price)}
    .col-md-12.margin_top_20
    .col-md-9
      = link_to t("complete.submit"), categories_path, method: :get, class: "btn btn-default"
