.container
  .row
    .col-md-3
      %h3
        = t("addresses.checkout")
    .col-md-9
      %h4
        = t("addresses.add")
        = t("addresses.delivered")
        = t("addresses.payment")
        %u= t("addresses.confirm")
        = t("addresses.complete")
  .row
    %h4
      .col-md-12
        = t("confirm.confirm") 
  .row
    .col-md-3.margin_top
      %b
        = t("confirm.shipping_address")
      = link_to t("confirm.edit"), edit_shipping_address_path(current_user.shipping_address)
      %br
      = current_user.shipping_address.first_name
      = current_user.shipping_address.last_name
      %br
      = current_user.shipping_address.street_address
      %br
      = current_user.shipping_address.city
      = current_user.shipping_address.zip
      %br
      = current_user.shipping_address.country.name
      %br
      Phone + #{current_user.shipping_address.phone}
    .col-md-3.margin_top
      %b
        = t("confirm.billing_address")
      = link_to t("confirm.edit"), edit_billing_address_path(current_user.billing_address)
      %br
      = current_user.billing_address.first_name
      = current_user.billing_address.last_name
      %br
      = current_user.billing_address.street_address
      %br
      = current_user.billing_address.city
      = current_user.billing_address.zip
      %br
      = current_user.billing_address.country.name
      %br
      Phone +#{current_user.billing_address.phone}
    .col-md-3.margin_top
      %b
        = t("confirm.shipments")
      = link_to t("confirm.edit"), edit_delivery_path(@order)
      %br
      = @order.delivery.name
    .col-md-3.margin_top
      %b
        = t("confirm.payment_info")
      = link_to t("confirm.edit"), edit_payment_path(current_user.payment)
      %br
      **** **** **** #{current_user.payment.number.to_s.slice(-6..-3)}
      %br
      = current_user.payment.expiration_date.strftime("%m/%Y")
      %br
.row
  .col-md-12.table.table-striped
    %table.table.table-striped
      %tr
        %th.col-md-2
        %th.col-md-7
          = t("cart.book")
        %th.col-md-1
          = t("cart.price")
        %th.col-md-1
          = t("cart.quantity")
        %th.col-md-1
          = t("cart.total")
      - @order.line_items.each do |item|      
        %tr
          %td.col-md-2
            = image_tag(item.book.image, size: "150x100")
          %td.col-md-7
            %h4
              = item.book.title
            = item.book.full_description.first(200) + '...'
          %td.col-md-1
            #{number_to_currency(item.book.price)}
          %td.col-md-1
            .cart_quantity= number_field_tag 'quantity', item.quantity, in: 1...20
          %td.col-md-1
            .in_line #{number_to_currency(item.total_price)}
    %table.table
      %tr
        %td.col-md-9
        %td.col-md-2
          .float_r= t("cart.subtotal")
          %br
          .float_r= t("confirm.shipping")
        %td.col-md-1
          #{number_to_currency(@order.subtotal(@order.discount))}
          %br
          #{number_to_currency(@order.delivery.price)}
      %tr
        %td.col-md-9
        %td.col-md-2
          %p.float_r
            = t("confirm.order_total")
        %td.col-md-1
          #{number_to_currency(@order.subtotal(@order.discount)+@order.delivery.price)}
    .col-md-12.margin_top_20
    .col-md-9.height
      = link_to t("confirm.submit"), complete_orders_path, method: :get, class: "btn btn-default"