.container
  .row
    .col-md-12.table.table-striped
      %h3
        = t("orders.title")
    .col-md-12.in_progress
      %h4.border_line
        = t("orders.in_progress") 
      %table.table.table-striped
        %tr
          %th.col-md-2
          %th.col-md-7
            = t("cart.book")
          %th.col-md-1
            = t("cart.price")
          %th.col-md-1
            = t("cart.quantity")
          %th.col-md-1
            = t("cart.total")
        - @order.line_items.each do |item| 
          %tr
            %td.col-md-2
              = image_tag(item.book.image, size: "150x100")
            %td.col-md-7
              %h4
                = item.book.title
              = item.book.full_description.first(200) + '...'
            %td.col-md-1
              #{number_to_currency(item.book.price)}
            %td.col-md-1
              = item.quantity
            %td.col-md-1
              #{number_to_currency(item.total_price)}
      %table.table
        %tr
          %td.col-md-9
            = link_to t("orders.submit"), cart_orders_path, class: "btn btn-default"
          %td.col-md-2
            %p.float_r
              = t("cart.subtotal")
          %td.col-md-1
            #{number_to_currency(@order.subtotal(@order.discount))}
    .col-md-12.table.table-striped
      %h4.border_line
        = t("orders.waiting")  
      %table.table.table-striped.in_queue
        %tr
          %th.col-md-2
            = t("orders.number")
          %th.col-md-3
            = t("orders.completed_at")
          %th.col-md-2
            = t("orders.title")
          %th.col-md-1
          %th.col-md-4
        - @in_queue.each do |item|
          %tr
            %td.col-md-2
              = link_to "R000#{item.id}", order_path(item)
            %td.col-md-3
              = item.created_at
            %td.col-md-2
              #{number_to_currency(item.subtotal(item.discount)+item.delivery.price)}
            %td.col-md-1
              = link_to t("orders.view"), order_path(item.id)
            %td.col-md-4             
    .col-md-12.table.table-striped
      %h4.border_line
        = t("orders.in_delivery")
      %table.table.table-striped.in_delivery
        %tr
          %th.col-md-2
            = t("orders.number")
          %th.col-md-3
            = t("orders.completed_at")
          %th.col-md-2
            = t("orders.title")
          %th.col-md-1
          %th.col-md-4
        - @in_delivery.each do |item|
          %tr
            %td.col-md-2
              = link_to "R000#{item.id}", order_path(item)
            %td.col-md-3
              = item.created_at
            %td.col-md-2
              #{number_to_currency(item.subtotal(item.discount)+item.delivery.price)}
            %td.col-md-1
              = link_to t("orders.view"), order_path(item.id)
            %td.col-md-4  
    .col-md-12.table.table-striped
      %h4.border_line
        = t("orders.delivered")
      %table.table.table-striped.delivered
        %tr
          %th.col-md-2
            = t("orders.number")
          %th.col-md-3
            = t("orders.completed_at")
          %th.col-md-2
            = t("orders.title")
          %th.col-md-1
          %th.col-md-4
        - @delivered.each do |item|
          %tr
            %td.col-md-2
              = link_to "R000#{item.id}", order_path(item)
            %td.col-md-3
              = item.created_at
            %td.col-md-2
              #{number_to_currency(item.subtotal(item.discount)+item.delivery.price)}
            %td.col-md-1
              = link_to t("orders.view"), order_path(item.id)
            %td.col-md-4
