.container
  .row
    .col-md-3
      %h3
        = t("addresses.checkout")
    .col-md-9
      %h4
        %u= t("addresses.add")
        = t("addresses.delivered")
        = t("addresses.payment")
        = t("addresses.confirm")
        = t("addresses.complete")
  .row
    %h4
      .col-md-4
        = t("addresses.billing_address")
      .col-md-4
      .col-md-4
        = t("addresses.summary")
  .row
    .col-md-8.margin_top
      = form_for current_user.billing_address do |f|
        %p= f.text_field :first_name, placeholder: t("addresses.first_name")
        %p= f.text_field :last_name, placeholder: t("addresses.last_name")
        %p= f.text_field :street_address, placeholder: t("addresses.street_address")
        %p= f.text_field :city, placeholder: t("addresses.city")
        %p= f.collection_select :country_id, Country.all, :id, :name
        %p= f.text_field :zip, placeholder: t("addresses.zip")
        %p= f.telephone_field :phone, placeholder: t("addresses.phone")
        = f.check_box :shipping
        = t("addresses.use_billing")
        %p= f.submit t("addresses.submit"), class: "btn btn-default"
    .col-md-4.margin_top
      %table.table
        %tr
          %td.col-dm-1
            .float_r= t("addresses.item_total")
            %br
            .float_r= t("addresses.oreder_total")
          %td.col-dm-1
            #{number_to_currency(@order.total)}
            %br
            #{number_to_currency(@order.subtotal(@order.discount))}
        %tr
          %td.col-dm-1
          %td.col-dm-1
            
          
      