#carousel.carousel.slide
  .carousel-inner
    .active.item
      .media
        %h3.media-heading= @books.last.title
        - @books.last.authors.each do |author|
          %strong
            by #{author.first_name} #{author.last_name}
        .media-body
          = image_tag(@books.last.image, size: "200x150", class: "media-object")
          %p= @books.last.full_description
        .col-md-12  
          .col-md-3
          .col-md-1
            %h4.in_line
              #{number_to_currency(@books.last.price)}
          .in_line
            = form_for @line_item, url: line_items_path(book_id: @books.last.id) do |f|
              .col-md-3= f.text_field :quantity, :value => '1'
              .col-md-3= f.submit t('books.submit'), class: "btn btn-default"
    - @books.each do |book|
      .item
        %h3.media-heading= book.title
        - book.authors.each do |author|
          %strong
            by #{author.first_name} #{author.last_name}
        .media-body
          = image_tag(book.image, size: "200x150", class: "media-object")
          %p= book.full_description
        .col-md-12
          .col-md-3
          .col-md-1
            %h4.in_line
              #{number_to_currency(@books.last.price)}
          .in_line
            = form_for @line_item, url: line_items_path(book_id: @books.last.id) do |f|
              .col-md-3= f.text_field :quantity, :value => '1'
              .col-md-3= f.submit t('books.submit'), class: "btn btn-default"
  %a.carousel-control.left{"data-slide" => "prev", href: "#carousel"} <
  %a.carousel-control.right{"data-slide" => "next", href: "#carousel"} >
.span6.offset3.center
  %h4 Welcome to our amazing Bookstore! Choose anything you wish, we'll ship it anywhere!