-@books.each do |book|
  .book_show
    = book.title
    by
    = book.author
    %br
    = image_tag(book.image, size: "270x150", class: "cover")
    = book.full_description
    %br
    $ #{book.price}
    = link_to 'ADD TO CART', books_path
    https://moqups.com/vladrubygarage/02F3UkJG/p:a5777846d