= render "form"
.shop_content
  -@books.each do |book|
    %ul
      %li 
        = image_tag(book.image, size: "270x150", class: "cover")
        %br
        = link_to "#{book.title}", books_path
        %br
        #{book.price}
.shop_right_bar
  %h3
    SHOP BY CATEGORIES
  = link_to "Mobile development", books_path
  %br
  = link_to "Photography", books_path
  %br
  = link_to "Web design", books_path
  %br
  = link_to "Web development", books_path
