.container
  .row
    .col-md-12
      %h2
        = @book.title
    .row
      .col-md-12
        .col-md-4
          = image_tag(@book.image, size: "330x250", class: "cover")
        .col-md-8
          .row
            .col-md-7
              %h4
                #{number_to_currency(@book.price)}
            .col-md-1
              = button_to 'Add to Cart', line_items_path(book_id: @book), class: "btn btn-default"
        .col-md-6
          = @book.full_description.first(500) + '...'
  .row
    .col-md-12
      .margin_top_20
        %h4
          Reviews
          = link_to 'Add review for this book', new_book_rating_path(@book)
          = form_for(rating_ballot, :remote => true, :html => { :class => 'rating_ballot' }) do |f|
            = f.label("value_1", content_tag(:span, '1'), {:class=>"rating", :id=>"1"})
            = radio_button_tag("rating[value]", 1, current_user_rating == 1, :class => 'rating_button')
            = f.label("value_2", content_tag(:span, '2'), {:class=>"rating", :id=>"2"})
            = radio_button_tag("rating[value]", 2, current_user_rating == 2, :class => 'rating_button')
            = f.label("value_3", content_tag(:span, '3'), {:class=>"rating", :id=>"3"})
            = radio_button_tag("rating[value]", 3, current_user_rating == 3, :class => 'rating_button')
            = f.label("value_4", content_tag(:span, '4'), {:class=>"rating", :id=>"4"})
            = radio_button_tag("rating[value]", 4, current_user_rating == 4, :class => 'rating_button')
            = f.label("value_5", content_tag(:span, '5'), {:class=>"rating", :id=>"5"})
            = radio_button_tag("rating[value]", 5, current_user_rating == 5, :class => 'rating_button')

            = hidden_field_tag("book_id", @book.id)
            .rating_submit
              = f.submit :Submit
