.container
  .row
    .col-md-3
    .col-md-3
    .col-md-3
      BOOK
    .col-md-1
      PRICE
    .col-md-1
      QTY
    .col-md-1
      TOTAL
  .row
    - @books.each do |book|
      .col-md-12.margin_top
        .col-md-3
          = image_tag(book.image, size: "100x100")
        .col-md-6
          .col-md-9
            book.title
        .col-md-1
          $ #{book.price}
        .col-md-1
          -# = f.text_field :quantity, value: 1, class: ""
          / = number_field(:books_count, :count, in: 1..10, step: 1)
        .col-md-1
          / $ #{order.sum_price}
  .row.margin_top
    .col-md-12.dashed_line
    .col-md-12.margin_top
      .col-md-9
      .col-md-3
        SUBTOTAL:
        $Sum
    .col-md-12.margin_top
      .col-md-1
      .col-md-5
        = link_to 'EMPTY CART', carts_path, class: "btn btn-default"
        = link_to 'CONTINUE SHOPPING', carts_path, class: "btn btn-default"
      
      .col-md-2
        -# = f.text_field :quantity, value: 1, class: ""
      .col-md-4
        = link_to 'UPDATE', carts_path, class: "btn btn-default"
        = link_to 'CHECKUOT', carts_path, class: "btn btn-default"
