.container
  .row
    .col-md-3
    .col-md-3
    .col-md-3
      BOOK
    .col-md-1
      PRICE
    .col-md-1
      QTY
    .col-md-1
      TOTAL
  .row
    %ul
      - @cart.line_items.each do |order| 
        %li
        %li.col-md-12.margin_top
          .col-md-3
            = image_tag(order.book.image, size: "100x100")
          .col-md-6
            .col-md-9
              = order.book.title
          .col-md-1
            #{number_to_currency(order.book.price)}
          .col-md-1
            -# = f.text_field :quantity, value: 1, class: ""
            / = number_field(:books_count, :count, in: 1..10, step: 1)
          .col-md-1
            / $ #{order.sum_price}
  .row.margin_top
    .col-md-12.dashed_line
    .col-md-12.margin_top
      .col-md-9
      .col-md-3
        SUBTOTAL:
        $Sum
    .col-md-12.margin_top
      .col-md-1
      .col-md-5
        = link_to 'EMPTY CART', carts_path, class: "btn btn-default"
        = link_to 'CONTINUE SHOPPING', carts_path, class: "btn btn-default"
      
      .col-md-2
        -# = f.text_field :quantity, value: 1, class: ""
      .col-md-4
        = link_to 'UPDATE', carts_path, class: "btn btn-default"
        = link_to 'CHECKUOT', carts_path, class: "btn btn-default"
