.container
  .row
    .col-md-12
      .col-md-8
        BOOK
      .col-md-1
        PRICE
      .col-md-1
        QTY
      .col-md-2
        TOTAL
    .row
      .col-md-12.margin_top_10
        - @cart.line_items.each do |item| 
          .col-md-12.margin_bot_10
            .col-md-2
              = image_tag(item.book.image, size: "150x100")
            .col-md-6
              %h4
                = item.book.title
              = item.book.full_description.first(200) + '...'
            .col-md-1
              #{number_to_currency(item.book.price)}
            .col-md-1
              .cart_quantity= number_field_tag 'quantity', item.quantity, in: 1...20
            .col-md-1
              #{number_to_currency(item.total_price)}  
            .col-md-1
              = button_to 'X', line_item_path(item.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"        
      .col-md-12
        .dashed_line.margin_top_20
        .col-md-12.margin_top_5
          .col-md-10
          .col-md-2
            SUBTOTAL:
            #{number_to_currency(@cart.subtotal(@cart.discount))}
        .col-md-12.margin_top_20
          .col-md-8
            .in_line= button_to 'EMPTY CART', @cart, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"
            .in_line= button_to 'CONTINUE SHOPPING', categories_path, method: :get, class: "btn btn-default"
          .col-md-4
            .in_line
              = form_tag check_coupon_carts_path, method: :get do |f|
                = text_field_tag :search, params[:search], placeholder: "Coupon code", class: 'cart_coupon'
                .in_line= submit_tag "UPDATE", :name => nil, class: "btn btn-default"
            - if @cart.line_items.any?
              - if user_signed_in?
                .in_line= button_to "CHECKOUT", edit_billing_address_path(current_user), method: :get, class: "btn btn-default"
              - else
                .in_line= button_to "CHECKOUT", new_user_registration_path, method: :get, class: "btn btn-default"
