.container
  .row
    .col-md-3
      %h3
        = t("addresses.checkout")
    .col-md-9
      %h4
        = t("addresses.add")
        = t("addresses.delivered")
        %u= t("addresses.payment")
        = t("addresses.confirm")
        = t("addresses.complete")
  .row
    %h4
      .col-md-12
        = t("payment.credit_card")
  .row
    .col-md-8.margin_top
      = form_for current_user.payment do |f|
        %p= f.text_field :number, placeholder: t("payment.card_number")
        = t("payment.extention_date")
        %p= f.date_select :expiration_date, {order: [:month, :year], discard_day: true, prompt: {month: t("payment.month"), year: t("payment.year")}}
        %p= f.text_field :card_code, placeholder: t("payment.card_code")
        %p= f.submit t("addresses.submit"), class: "btn btn-default"
    .col-md-4.margin_top
      %table.table
        %tr
          %td.col-dm-1
            .float_r= t("addresses.item_total")
            %br
            .float_r= t("confirm.shipping")
            %br
            .float_r= t("addresses.oreder_total")
          %td.col-dm-1
            #{number_to_currency(@order.total)}
            %br
            #{number_to_currency(@order.delivery.price)}
            %br
            #{number_to_currency(@order.subtotal(@order.discount))}
        %tr
          %td.col-dm-1
          %td.col-dm-1
