.container
  .row
    .col-md-3
      %h3
        Checkout
    .col-md-9
      %h4
        ADDRESS
        DELIVERY  
        %u
          PAYMENT
        CONFIRM
        COMPLETE
  .row
    %h4
      .col-md-12
        EDIT CREDIT CARD
  .row
    .col-md-8.margin_top
      = form_for @order.payment do |f|
        %p= f.text_field :number, placeholder: "Card Number"
        Expiration Date:
        %p= f.date_select :expiration_date, {order: [:month, :year], discard_day: true, prompt: {month: 'Month', year: 'Year'}}
        %p= f.text_field :card_code, placeholder: "Card Code"
        %p= f.submit 'SAVE AND CONTINUE', class: "btn btn-default"
    .col-md-4.margin_top
