.container
  .row
    .col-md-3
      %h3
        Checkout
    .col-md-9
      %h4
        = link_to 'ADDRESS', edit_billing_address_path(session[:cart_id])  
        = link_to 'DELIVERY', edit_delivery_path(session[:cart_id])   
        %u
          PAYMENT
        CONFIRM
        COMPLETE
  .row
    %h4
      .col-md-8
        CREDIT CARD
      .col-md-4
        ORDER SUMMARY
  .row
    .col-md-8.margin_top
      = form_for @payment, url: payments_path do |f|
        %p= f.text_field :number, placeholder: "Card Number"
        Expiration Date:
        %p= f.date_select :expiration_date, {order: [:month, :year], discard_day: true, prompt: {month: 'Month', year: 'Year'}}
        %p= f.text_field :card_code, placeholder: "Card Code"
        %p= f.submit 'SAVE AND CONTINUE', class: "btn btn-default"
    .col-md-4.margin_top
      %p ITEM TOTAL: #{number_to_currency(@cart.total_price)}
      %p SIPPING: #{number_to_currency(@cart.total_price)}
      %p ORDER TOTAL: #{number_to_currency(@cart.total_price)}
