.container
  .row
    .col-md-9
      %ol.breadcrumb
        %li= link_to "HOME", books_path
        %li= link_to "SHOP", categories_path
        %li.active #{@category.name}
      %h3
        Categories - #{@category.name}
      .row
        .row
          %ul
            - @books.each do |book| 
              %li.li_shop
                = image_tag(book.image, size: "150x100")
                %p.book_title= link_to book.title, book_path(book) 
                %p.book_price #{number_to_currency(book.price)} 
        = paginate @books, :theme => 'twitter-bootstrap-3'
    .col-md-3
      %h4  
        SHOP BY CATEGORIES
      %ul
        - Category.all.each do |category|
          %li
            %p= link_to category.name, category_path(category)

   